.container{
height: 5cm;
width: 5cm;
background-color: red;
border: 2px solid black;
}
button{
    /* color: blue; */
    /* width: 3cm; */
    /* height: 1cm; */
}
/* .bi bi-balloon-heart{ 
    display:F708; 
} */
.myname{
color: green;
size: 2cm;
}